.stockContainer{
    display: block;
}

/* Style pour la page de la liste des produits */
.productContainer{
    display: none;
}
.tableProductContainer{
    margin-top: 20px;
    margin-bottom: 20px;
}
.tableProductLabel{
    font-size: 15px;
}
.tableProduct{
    height: 225px;
    overflow-y: auto;
}

.groupForm{
    margin-top: 20px;
}
.groupForm label{
    line-height: 34px;
}

.selectContainer,
.productManagementContainer{
    border-style: groove;
    border-width: 3px;
    padding: 10px 10px 10px 10px;
    margin-top: 25px;
    height: 125px;
}

.affichageListeProduit{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.conteneurTable{
    margin-top: 25px;
}

.conteneurTable .conteneurTableEntree,
.conteneurTable .conteneurTableSortie{
    height: 350px;
}

.conteneurTable .conteneurTableEntree .tableEntree,
.conteneurTable .conteneurTableSortie .tableSortie{
    height: 300px;
}

.fileSelect{
    display: block;
    margin-top: 1px;
    max-width: 200px;
    height: 25px;
}
