/* Les 2 blocs principaux */
.stockContainer{
    display: block;
}
.productContainer{
    display: none;
}

/* Style de la page produits*/
/* Table des produits */
.productContainer .tableProductContainer{
    margin-top: 20px;
    margin-bottom: 20px;
}

.productContainer .tableProductContainer .tableProductLabel{
    font-size: 15px;
}

.productContainer .tableProductContainer .tableProduct{
    height: 225px;
    overflow-y: auto;
}

.productContainer .tableProductContainer .tableProduct .productTableRow.activeRow{
    background-color: skyblue;
}

/* Formulaire des produits */
.productContainer .formHeader .groupForm{
    margin-top: 20px;
}

.productContainer .formHeader .groupForm label{
    line-height: 34px;
}

/* Boutons */
.productContainer .tableProductContainer .createNewProduct,
.productContainer .tableProductContainer .confirmModifications{
    margin-bottom: 10px;
}


/* Style de la page principale de la gestion des stocks */
.selectContainer,
.productManagementContainer{
    border-style: groove;
    border-width: 3px;
    padding: 10px 10px 10px 10px;
    margin-top: 25px;
    height: 125px;
}

.affichageListeProduit{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.conteneurTable{
    margin-top: 25px;
}

.conteneurTable .conteneurTableEntree,
.conteneurTable .conteneurTableSortie{
    height: 350px;
}

.conteneurTable .conteneurTableEntree .tableEntree,
.conteneurTable .conteneurTableSortie .tableSortie{
    height: 300px;
}

.fileSelect{
    display: block;
    margin-top: 1px;
    max-width: 200px;
    height: 25px;
}
